@model Emirate.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<form method="get" asp-action="Profile" asp-controller="User">
  <div class="container mb-5">
		<div class="mx-sm-auto mt-2 m-5 ">
			<h1 class="ml-5 text-primary text-opacity-75">Student Profile</h1>
		</div>

	<div class="card border-0 w-50 mx-sm-auto" id="st-prof-card">
		<h2 class="text-center">User Details</h2>
			<div class="col-12 float-end">
				<a asp-controller="User" asp-action="EditProfile" asp-route-id="id" class="icon rounded-circle float-end p-1 bg-secondary text-white" id="profedit" data-toggle="modal" data-target="#EditProfModal"><i class="fa fa-pencil mt-1 p-1 rounded" style="width:15px; height:15px;"></i></a>
			</div>
			
		
		<div class="row px-1">

			@if (Model != null)
			{
			
				<div class="col">
					<label>First Name : @Model.FirstName <span></span></label><br />
					<label>Middle Name : @Model.MiddleName  </label><br />
					<label>Last Name : @Model.LastName  </label><br />
					<label>Email : @Model.Email  </label><br />
					<label>DateCreated : @Model.DateCreated.ToString("d")  </label><br />
					<label>Department : @Model.Department?.Name </label><br />
					<label>level : @Model.Level?.Name  </label><br />
					<label>Date of Birth : @Model.DateOfBirth.ToString("d")  </label><br />
					<label>Phone Number : @Model.PhoneNumber  </label><br />
					<label>RegNumber : @Model.RegNumber  </label><br />
					<label>Gender : @Model.Gender?.Name  </label><br />
				</div>
				<div class="col">
					<div>
						<img src="/images/user1.jpeg" class="img-fluid img-responsive" @*style="width:100%; height:100%"*@ />
					</div>
					<div class="m-3">
						<input type="submit" class="btn btn-secondary d-flex  mt-2 mx-auto px-4" value="Edit Photo" />
					</div>
				</div>
			}

		</div>
		
	</div>
  </div>
</form>




<div class="container">

<!-- The Modal -->
<div class="modal fade" id="EditProfModal">
<div class="modal-dialog">
	<div class="modal-content">

		<!-- Modal Header -->
		<div class="modal-header p-1 border-bottom-0">
			<h4 class="modal-title"></h4>
			<button type="button" class="close border-0 text-danger bg-white p-2" data-dismiss="modal">&times;</button>
		</div>

		<div class="form-group row">
			<h3 class="text-center modal-title">My Profile</h3>
		</div>

		<div class="row form-group justify-content-center p-3">
			<div class="">
				<div class="row">
					<div class="col">
						<input type="text" hidden />
						<label type="FirstName">
							FirstName :
							<input class="form-control">
						</label> <br />
					</div>

					@*<div class="col-4">
						<label type="MiddleName">
							MiddleName :
							<input type="MiddleName" class="form-control">
						</label> <br />
					</div>*@
					<div class="col">
						<label> LastName :</label>
						<input class="form-control">
						 <br />
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label type="Level">
							Level :
							<input type="Level" class="form-control">
						</label> <br />
					</div>
					<div class="col">
						<label type="PhoneNumber">
							Phone Number :
							<input type="PhoneNumber" class="form-control">
						</label> <br />
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label type="Department">
							Department :
							<input type="Department" class="form-control">
						</label> <br />
					</div>
				
					<div class="col">
						<label type="Gender">
						Gender :
							<input type="Gender" class="form-control">
						</label> <br />
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label type="DateOfBirth">
							Date of Birth :
							<input type="DateOfBirth" class="form-control">
						</label> <br />
					</div>
					
					<div class="col">
						<label type="RegNumber">
							RegNumber :
							<input type="RegNumber" class="form-control">
						</label> <br />
					</div>
				</div>
			</div>
		</div>

			<div class="m-3">
				<input type="submit" class="btn d-flex  mt-2 mx-auto px-5" id="common_button" value="Update" />
			</div>
			@*<div class="col">
				<a asp-action="Profile" class="btn btn-success w-100 mt-2"><i class="fa-solid fa-right-from-bracket"></i> &nbsp; Back </a>
			</div>*@
		</div>
	</div>
		
	</div>
</div>
	
